* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(74, 70, 74);
  color: white;
}
.s {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 8px;
  width: 80%;
}
.s1 {
  height: 300px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: scale(1);
  transition: transform 200ms;
}
.s1:hover {
  transform: scale(0.98);
}
h2 {
  margin: 30px;
}
@media only screen and (max-width: 500px) {
  .s {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}
